/* TABLE FORMATTING */

.span8 {
    text-align: left;
}

.span4 {
    text-align: right;
}

main.css
table {
    text-align: left;
    background-color: #F7F7F7;
    box-shadow: 0px 0px 3px rgba(163,147,130,0.75);
}

th {
    text-decoration: underline;
    line-height: 2em;
    background-color: lightgray;
    padding-top: 5px;
}

td {
    margin: 1px;
    width: 150px;
    /*border-right: 1px solid white;*/
    background-color: #F7F7F7;
    padding-right: 5px;
}

td:first-child{
    text-emphasis: black;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 5px;
    width: 250px;
}

td:first-child input {
    float: right;
}

thead th:first-child, tfoot th:first-child{
    /*text-align: right;*/
    padding-left: 5px;
    margin-right: 10px;
    padding-right: 10px;
    border-left: none;
}

thead th:last-child {
    text-align: center;
}

th:last-child{
    text-align: center;
}

.top_border td{
    border-top: 1px solid darkgray;
    background-color: white;
    text-align: right;
}
.bottom_border td{
    border-bottom: 1px solid darkgray;
    background-color: white;
    text-align: right;
}

/* NON-TABLE FORMATTING */

body {
    font-family: helvetica;
}

span, .editable_field {
    cursor: pointer;
}

#error_message {
    color: red;
}

#margin_alert {
    color: red;
}

span {
    float: right;
}

input {
    text-align: right;
    width: 145px;
}


.total {
    font-weight: bold;
    text-alight: right;
}


.italic {
    font-style: italic;
    line-height: 1.5em;
}

input:focus{

}

.expandable {
    font-size: 50%;
}
#revenue, #cos, #op_ex, #other_ex {
    text-align: right;
}

#income_statement {
    margin: 0 auto;
}

.container {
    max-width: 600px;
}

.empty {
    background-color: white;
}
.calculated_field {
    text-decoration: underline;
}
