#calculator {
    border: 1px solid black;
    background-color: lightgray;
    margin-left: 50px;
    height: 26em;
    width: 14em;
}
#display {
    width: 10.5em;
    border: 1px solid black;
    line-height: 3em;
    height: 3em;
    margin: 0.5em;
    color: black;
    text-align: right;
    font-family: courier;
    padding: 0.5em;
    background-color: white;
}
#keypad {
    width: 14em;

}

.button {
    border: 1px solid black;
    float: left;
    position: relative;
    width: 3em;
    height: 3em;
    margin: 0.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    background-color: white;
    cursor: pointer;

}

th {
    text-decoration: underline;
}
td {
    /*background-color: lightgray;*/
    margin: 1px;
    width: 150px;
    border-right: 1px solid white;
}



td:first-child{
    text-emphasis: black;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 5px;
    width: 300px;
    /*text-align: right;*/
}

td:first-child input {
    float: right;
}

thead th:first-child, tfoot th:first-child{
    /*text-align: right;*/
    padding-left: 5px;
    margin-right: 10px;
    padding-right: 10px;
    border-left: none;
}

thead th:last-child {
    text-align: center;
}

span, .editable_field {
    cursor: pointer;
}

#error_message {
    color: red;
}

#margin_alert {
    color: red;
}

.active {
    color: blue;
    background-color: yellow;
}
span {
    float: right;
}
input {
    text-align: right;
    width: 145px;
}

.dollars:before { content:'$'; }

.blank {
}

.total {
    font-weight: bold;
}

table {
    text-align: left;
    background-color: #e5e5e5;
}

td {
    background-color: #e5e5e5;
}

th {
    line-height: 2em;
    background-color: lightgray;
    border: 1px solid white;
}

th:last-child{
    text-align: center;
}
.top_border td{
    border-top: 1px solid darkgray;
    background-color: white;
    text-align: right;
}
.bottom_border td{
    border-bottom: 1px solid darkgray;
    background-color: white;
    text-align: right;
}
.italic {
    font-style: italic;
    line-height: 1.5em;
}

input:focus{

}

.expandable {
    font-size: 50%;
}
#revenue, #cos, #op_ex, #other_ex {
    text-align: right;
}

#income_statement {
    margin: 0 auto;
}

.container {
    max-width: 600px;
}

.empty {
    background-color: white;
}
.calculated_field {
    text-decoration: underline;
}
