/* SPAN FORMATTING */


#intro h6 {
    cursor: pointer;
}

.year:hover {
    color: red;
}

.sum_final {
    color: black;
    text-align: right;
}

.left_indent {
    float: left;
    text-indent: 25px;
}

.ind_final {
    color: darkgray;
    text-align: right;
}

.hidden {
    display: none;
}

.span8 {
    text-align: left;
    line-height: 30px;
    /*background-color: #f7f7f7;*/
}

.span4 {
    text-align: right;
    line-height: 30px;
    /*background-color: #e6e6e6;*/
}

#income_statement {
    -webkit-box-shadow: 0px 0px 5px rgba(163,147,130,0.75);
    -moz-box-shadow: 0px 0px 5px rgba(163,147,130,0.75);
    box-shadow: 0px 0px 5px rgba(163,147,130,0.75);
    max-width: 600px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.row-fluid {
    background-color: #f7f7f7;
}

div {
    line-height: 1.5em;

}

.expandable_right {
    float: right;
}

/* NON-TABLE FORMATTING */

span, .editable_field {
    cursor: pointer;
    line-height: 1.5em;
}

#error_message {
    color: red;
}

#margin_alert {
    color: red;
}

span {
    float: right;
    position:relative;
}

input {
    text-align: right;
    width: 145px;
    float: right;
}

.bold {
    color: black;
    font-weight: bold;
}

.blank {
    line-height: 20px;
    color: white;
    color: white;
}
.total {
    font-weight: bold;
    text-alight: right;
}


.italic {
    font-style: italic;
    line-height: 1.5em;
}

input:focus{

}

.expandable {
    text-align: right;
}

#revenue, #cos, #op_ex, #other_ex {

}



.container {
    max-width: 500px;
}

.empty {
    background-color: white;
}
.calculated_field {
    text-decoration: underline;
}
