#calculator {
    border: 1px solid black;
    background-color: lightgray;
    margin-left: 50px;
    height: 26em;
    width: 14em;
}
#display {
    width: 10.5em;
    border: 1px solid black;
    line-height: 3em;
    height: 3em;
    margin: 0.5em;
    color: black;
    text-align: right;
    font-family: courier;
    padding: 0.5em;
    background-color: white;
}
#keypad {
    width: 14em;

}

.button {
    border: 1px solid black;
    float: left;
    position: relative;
    width: 3em;
    height: 3em;
    margin: 0.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    background-color: white;
    cursor: pointer;
}