#calculator {
    border: 1px solid black;
    background-color: lightgray;
    margin-left: 50px;
    height: 26em;
    width: 14em;
}
#display {
    width: 10.5em;
    border: 1px solid black;
    line-height: 3em;
    height: 3em;
    margin: 0.5em;
    color: black;
    text-align: right;
    font-family: courier;
    padding: 0.5em;
    background-color: white;
}
#keypad {
    width: 14em;

}

.button {
    border: 1px solid black;
    float: left;
    position: relative;
    width: 3em;
    height: 3em;
    margin: 0.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    background-color: white;
    cursor: pointer;

}

th {
    text-decoration: underline;
}
td {
    /*background-color: lightgray;*/
    margin: 1px;
    width: 150px;
}

td:first-child{
    text-emphasis: black;
    font-size: 18px;
    background-color: white;
    margin-right: 10px;
    padding-right: 10px;
    text-align: right;
}

thead th:first-child, tfoot th:first-child{
    text-align: right;
    margin-right: 10px;
    padding-right: 10px;
}

tfoot{
    /*color: dimgray;*/
}

span, .editable_field {
    cursor: pointer;
}

#error_message {
    color: red;
}

#margin_alert {
    color: red;
}

.active {
    color: blue;
    background-color: yellow;
}
span {
    float: right;
}
input {
    text-align: right;
    width: 145px;
}

.dollars:before { content:'$'; }

.blank {
    background-color: white;
}

.total {
    font-weight: bold;
}

.top_border td{
    border-top: 1px solid black;
}
.bottom_border td{
    border-bottom: 1px solid black;
}
.italic {
    font-style: italic;
}

input:focus{

}

.expandable {
    font-size: 50%;
}
